<html>
<head>
    <title>Niks' Blog</title>
</head>
<body>
<div>
    <h1><a href="">My blog</a></h1>
</div>
<div>
    <p>Published:17.11.2015</p>
    <h2><a href="">My first post</a></h2>
    <p>This is a sample text that is present here just for fun. It simply does not mean anything</p>
</div>

<div>
    <p>Published:17.11.2015</p>
    <h2><a href="">My second post</a></h2>
    <p>This is some more useless text that is present here just for fun. It simply does not mean anything</p>
</div>

</body>
</html>
